@charset "UTF-8";




.brand-banner {
  width: 1905px;
  height: 1000px;
   display: flex;
  justify-content: center;
  align-items: center;

}

.brand-banner img{
	
	width: 1905px;
  height: 1000px;
}

.brand-banner-2 {
  width: 1905px;
  height: 1000px;
   display: flex;
  justify-content: center;
  align-items: center;

}

.brand-banner-2 img{
	
	width: 1905px;
  height: 1000px;
}




.brand-content {
  width: 1905px;
  height: 607px;
	margin : 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-box {
  width: 1460px;
  height: 379px;
  display: flex;
  justify-content: space-between;
  align-items: center;
		 
}

.image-box {
  width: 276px;
  height: 379px;
 
  background-size: cover;
  background-position: center;
}


.text-box {
  width: 454px;
  height: 379px;
 	/*margin-left: 50px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
}

.text-box .text {
  font-size: 20px;
  
  margin-bottom: 10px;
}

.text-box .desc {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}
