@charset "UTF-8";

<<<<<<< HEAD
footer {
  width: 1908px;
  height: 500px;
=======
   footer {
  width: 1909px;
  height: 370px;
>>>>>>> refs/heads/Hong
  background-color: #000000;
  display: flex;
 align-items : center;
	justify-content: center;
  /*padding: 50px 80px;*/
  font-family: Arial, sans-serif;
  font-size: 14px;
  /*line-height: 1.8;*/
  color: #fff;
}

.footer-box {
	margin-left: 192px;
	padding-top: 300px;
	width: 1512px;
	height: 224px;
	display: flex;
	align-items : center;
	justify-content: space-between;
	
}

.footer-left {
  width: 300px;
  height: 224px;
}

.footer-right {
  width: 562px;
  height: 224px;
  display: flex;
  justify-content: space-between;
}

.footer-column h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 6px;
}

html, body {
  overflow-x: hidden;
}