@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body {
  font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

.order-history {
  text-align: center;
  padding: 40px 20px;
}

.order-history h1 {
  font-size: 24px;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 100;
}

.section-line {
  width: 1400px;
  height: 1px;
  background-color: #000;
  border: none;
  margin: 0 auto 40px auto;
}

.order-table {
  max-width: 900px;
  margin: 65px auto;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.order-table thead th {
  border-bottom: 1px solid #ccc;
  padding: 12px 8px;
  font-weight: bold;
  text-align: center;
}

.order-table tbody td {
  border-bottom: 1px solid #eee;
  padding: 20px 8px;
  vertical-align: center;
}

.orderHistory-product-info {
  display: flex;
  justify-content: center;
  
}

.orderHistory-product-info div {
  max-width: 140px;         /* 너비 제한을 줘야 줄바꿈이 일어남 */
  word-wrap: break-word;    /* 단어 기준으로 줄바꿈 */
  word-break: keep-all;     /* 한글은 단어 단위로 줄바꿈 */
}

